:root {
	--color-primary: #007509;
	--color-accent: #eb269c;
	--color-lightest: #ffffff;
	--color-light: #e2e2e2;
	--color-dark: #1f1f1f;
	--color-darkest: #121212;
}

* {
	box-sizing: border-box;
}

html,
body,
div {
	margin: 0;
	padding: 0;
}
