@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

:root {
	//--color-primary: #404eed;
	--color-primary: #0088cc;
	--color-primary-dark: #404eed;
	--color-accent: #fff;
	--color-violett: #7674e2;
	--color-accent-dark: #fff;
	--color-lightest: #ffffff;
	--color-light: #c7c7c7;
	--color-lighter: rgb(250, 250, 250);
	--color-dark: #3ba55d;
	--color-darkest: #36393f;
	--color-rose-gold: #deb992;
}

* {
	box-sizing: border-box;
	font-family: inherit;
}

html {
	font-size: 16px;
	font-family: 'Otomanopee One', sans-serif;
}

#app {
	min-height: 100vh;
}

html,
body,
div {
	margin: 0;
	padding: 0;
	background-color: var(--color-darkest);
}
